@import "tailwindcss";

@theme {
  --color-red: #b73215; /* Custom Red */
  --color-green: #228b60; /* Custom Green */
  --color-rose-50: #fef5f3; /* Rose 50 */
  --color-rose-100: #f7e8e5; /* Rose 100 */
  --color-rose-300: #d1ada7; /* Rose 300 */
  --color-rose-400: #ad8883; /* Rose 400 */
  --color-rose-500: #7b5c58; /* Rose 500 */
  --color-rose-900: #1e0e0c; /* Rose 900 */
}
* {
  font-family: "Red Hat Text", serif;
}

@media (min-width: 520px) {
  .checkout-section {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .checkout-div {
    width: 450px;
    animation: animation-card 0.5s ease-in-out;
  }
  @keyframes animation-card {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
.checkout-section {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.checkout-div {
  width: 100%;
  max-width: 450px;
  border-radius: 10px 10px 0% 0%;
}
